@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab&family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    background-color: #3a3a3a;
    color: white;
}
h1, h2 {
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 350%;
}

h3 {
    font-family: 'Great Vibes', cursive;
    color: white;
}

#navigation {
    font-size: 110%;
    background-color: white;
    line-height: 50px;
}
#navigation li {
    display: inline-block;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: #3a3a3a;
}

#navigation a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}