@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab&family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100%;
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    background-color: #313131;
    color: silver;
}

/* ================================================= HEADER ================================================= */

header {
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
    background-color: #313131;
}

/* ================================================= HEADINGS ================================================= */

h1 {
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 300%;
    color: white;
}

h2 {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 4px;
    color: white;
}

h3 {
    letter-spacing: 4px;
    font-size: 150%;
}

hr {
    border-bottom: 1px solid silver;
}

/* ================================================= FOOTER ================================================= */

footer {
    width: 100%;
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 50px;
    color: white;
}

footer hr{
    padding-top: 1px;
    border-bottom-style: solid;
}

footer p {
    text-align: center;
    font-size: 75%;
}

#footer-ul {
    width: 33%;
    float: left;
    margin-left: 30px;
}

#terms {
    width: 33%;
    float: right;
    margin-right: 30px;
    text-align: right;
}

#copyrights {
    width: 33%;
    margin: 0 auto;
}

#footer-ul li{
    list-style-type: none;
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    border-bottom: 1px solid red;
    color: red;
}

/* ================================================= NAVIGATION ================================================= */

#navigation {
    font-size: 125%;
    letter-spacing: 4px;
    line-height: 60px;
    color: white;
    overflow: auto; 
}

.left-margin {
    margin-left: 30px;
}

#logo {
    float: right;
    font-size: 200%;
    margin-right: 30px;
}

#navigation li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation .active {
    border-bottom: 1px solid rgb(250, 35, 35);
    color: rgb(250, 35, 35);
}

#navigation a:hover {
    border-bottom: 1px solid rgb(250, 35, 35);
    color: rgb(250, 35, 35);
}

/* ================================================= MAIN IMAGE & ANIMATION ================================================= */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/pexels-chris-f-1283219.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
 
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes main-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

/* ================================================= TEXT OVER MAIN IMAGE ================================================= */

#text-over-image {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;

    width: 450px;
    height: 150px;
    padding-top: 50px;

    background-color: rgba(172, 3, 0, 0.8);

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
} 

/* ================================================= BE PREPARED SECTION ================================================= */

#be-prepared {
    height: 800px;
    background-color: black;
    color: silver;
    text-align: center;
}

#be-prepared hr {
    border-bottom-style: solid;
}

#be-prepared h2 {
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 200%;
    padding: 75px 0;
}

#left-be-prepared {
    width: 50%;
    float: left;
    clear:both;
}

#be-prepared h3 {
    padding: 50px;
}

#be-prepared p {
    padding: 10px 150px;
    font-size: 125%;
    border-right: 1px solid silver;
}

#right-be-prepared {
    width: 50%;
    float: right;
}

#right-be-prepared p {
    padding: 10px 150px;
    font-size: 125%;
}

/* ================================================= MENU SELECTION ================================================= */

#menu-selection {
    height: 600px;
    width: 100%;
    background-color: black;
    color: silver;
    text-align: center;
    position: relative;
}

/* #menu-selection hr {
    padding-top: 50px;
    border-bottom-style: solid;
} */

#menu-selection-image {
    height: 600px;
    width: 100%;
    background-image: url("../images/sergio-alves-santos-PeDrafNlY2Y-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#menu-selection-text{
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;

    width: 450px;
    height: 150px;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}

#menu-selection h2 {
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 200%;
    padding-bottom: 50px;
}

#menu-selection a {
    font-size: 200%;
    letter-spacing: 4px;
    background-color: rgba(172, 3, 0, 0.8);
    color: white;
    text-decoration: none;
    padding: 20px;
    border-style: groove;
}

#menu-selection a:hover{
    border: 1px solid white;
    color: white;
    background-color: rgb(250, 35, 35);
}

/* ================================================= CONTACT US SECTION ================================================= */

#contact-us {
    height: 725px;
    background-color: black;
    color: silver;
    text-align: center;
}

#contact-us hr{
    border-bottom-style: solid;
}

#contact-us h2{
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 200%;
    padding-top: 100px;
    padding-bottom: 75px;
}

#left-contact-us {
    width: 50%;
    float: left;
}

#left-contact-us h3 {
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 30px;
}

#left-contact-us p {
    padding-left: 300px;
    padding-bottom: 20px;
    padding-right: 100px;
    font-size: 125%;
    text-align: left;
}

#left-contact-us a {
    font-size: 110%;
    letter-spacing: 4px;
    text-decoration: none;
    color:lightcoral;
}

#left-contact-us a:hover {
    color:rgb(250, 35, 35);
    text-decoration: underline;
}

#right-contact-us {
    width: 50%;
    float: right;
}

#right-contact-us h3 {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 150px;
}

#right-contact-us p {
    padding-left: 100px;
    padding-bottom: 30px;
    padding-right: 200px;
    font-size: 125%;
    text-align: left;
}

#right-contact-us a {
    font-size: 200%;
    letter-spacing: 4px;
    color: #8a8a8a;
    text-decoration: none;
    padding: 20px;
    margin-right: 150px;
}

#right-contact-us a:hover{
    border: 1px solid white;
    color: white;
    background-color: rgb(250, 35, 35);
}