@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab&family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100%;
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    background-color: #313131;
    color: silver;
}

/* ================================================= HEADER ================================================= */

header {
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
    background-color: #313131;
}

/* ================================================= HEADINGS ================================================= */

h1 {
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 300%;
    color: white;
}

h2 {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 2px black;
}

h3 {
    letter-spacing: 4px;
    font-size: 150%;
}

hr {
    border-bottom: 1px solid silver;
}

/* ================================================= FOOTER ================================================= */

footer {
    width: 100%;
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 50px;
    color: white;
}

footer p {
    text-align: center;
    font-size: 75%;
}

#footer-ul {
    width: 33%;
    float: left;
}

#terms {
    width: 33%;
    float: right;
    margin-right: 30px;
    text-align: right;
}

#copyrights {
    width: 33%;
    margin: 0 auto;
}

#footer-ul li{
    list-style-type: none;
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    border-bottom: 1px solid red;
    color: red;
}

/* ================================================= NAVIGATION ================================================= */

#navigation {
    font-size: 125%;
    letter-spacing: 4px;
    line-height: 75px;
    color: white;
    overflow: auto; 
}

.left-margin {
    margin-left: 30px;
}

#logo {
    float: right;
    font-size: 200%;
    letter-spacing: 4px;
    margin-right: 30px;
    color: rgba(223, 163, 0, 0.932);
    text-shadow: 2px 2px white;
}

.list-items li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation .active {
    border-bottom: 1px solid rgb(250, 35, 35);
    color: rgb(250, 35, 35);
}

#navigation a:hover {
    border-bottom: 1px solid rgb(250, 35, 35);
    color: rgb(250, 35, 35);
}

/* ================================================= MAIN IMAGE, MENU IMAGE & ANIMATION ================================================= */

#main-outer, #menu-outer {
    height: 775px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 775px;
    width: 100%;
    background-image: url('../images/pexels-chris-f-1283219.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: black;
 
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#menu-image{
    height: 775px;
    width: 100%;
    background-image: url('../images/StockSnap_9UJ3HU7PR8.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: black;
 
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes main-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

/* ================================================= TEXT OVER MAIN IMAGE & MENU IMAGE ================================================= */

#text-over-image {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;

    width: 450px;
    height: 150px;
    padding-top: 50px;

    background-color: rgba(172, 3, 0, 0.8);
    text-shadow: 2px 2px black;
    border-style: groove;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#menu-text-over-image {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;

    width: 350px;
    height: 200px;
    padding-top: 70px;

    background-color: rgba(2, 57, 138, 0.8);
    text-shadow: 2px 2px black;
    border-radius: 50%;
    border-style: groove;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* ================================================= BE PREPARED SECTION ================================================= */

#be-prepared {
    height: 800px;
    background-color: black;
    color: silver;
    text-align: center;
}

#be-prepared h2 {
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 250%;
    padding: 75px 0;
    background-color: rgb(60, 0, 0);
}

#left-be-prepared {
    width: 50%;
    float: left;
    clear:both;
}

#be-prepared h3 {
    padding: 50px;
}

#be-prepared p {
    padding: 10px 150px;
    font-size: 125%;
    border-right: 1px solid silver;
}

#right-be-prepared {
    width: 50%;
    float: right;
}

#right-be-prepared p {
    padding: 10px 150px;
    font-size: 125%;
}

/* ================================================= MENU SELECTION ================================================= */

#menu-selection {
    height: 600px;
    width: 100%;
    background-color: black;
    color: silver;
    text-align: center;
    position: relative;
}

#menu-selection-image {
    height: 600px;
    width: 100%;
    background-image: url("../images/sergio-alves-santos-PeDrafNlY2Y-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#menu-selection-text{
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;

    width: 450px;
    height: 150px;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#menu-selection h2 {
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 250%;
    padding-bottom: 50px;
}

#menu-selection a {
    font-size: 200%;
    letter-spacing: 4px;
    background-color: rgba(172, 3, 0, 0.8);
    color: white;
    text-decoration: none;
    padding: 20px;
    border-style: groove;
}

#menu-selection a:hover{
    border: 1px solid white;
    color: white;
    background-color: rgb(250, 35, 35);
}

/* ================================================= CONTACT US SECTION ================================================= */

#contact-us {
    height: 800px;
    background-color: black;
    color: silver;
    text-align: center;
}

#contact-us h2{
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 250%;
    padding: 75px;
    background-color: rgb(60, 0, 0);
}

#contact-us h3 {
    padding: 100px 200px 50px;
}

#left-contact-us {
    width: 50%;
    float: left;
}

#left-contact-us p {
    padding: 10px 200px;
    font-size: 125%;
    text-align: left;
}

#left-contact-us a {
    font-size: 110%;
    letter-spacing: 4px;
    text-decoration: none;
    color:lightcoral;
}

#left-contact-us a:hover {
    color:rgb(250, 35, 35);
    text-decoration: underline;
}

#right-contact-us {
    width: 50%;
    float: right;
}

#right-contact-us h3 {
    padding: 225px 200px 50px;
}

#right-contact-us a {
    font-size: 100%;
    letter-spacing: 4px;
    color: #8a8a8a;
    text-decoration: none;
    padding: 20px;
}

#right-contact-us a:hover{
    font-size: 200%;
    border: 1px solid white;
    color: white;
    background-color: rgb(250, 35, 35);
}


/* ================================================= NEWSLETTER SECTION ================================================= */

#newsletter {
    height: 900px;
    width: 100%;
    background-color: black;
    color: silver;
    text-align: center;
    position: relative;
}

#newsletter-image {
    height: 900px;
    width: 100%;
    background-image: url("../images/jeremy-bishop-uLXBeh6oHn8-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#newsletter-text{
    letter-spacing: 4px;
    text-align: center;

    width: 500px;
    height: 425px;

    padding: 20px;

    background-color: rgba(0,0,0,0.4);

    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#newsletter h3 {
    letter-spacing: 4px;
    font-size: 200%;
    padding: 40px;
    color: white;
    text-shadow: 5px 2px 1px black;
}

#newsletter-email{
    letter-spacing: 4px;
    background-color: white;
    color: grey;
    text-decoration: none;
    padding: 15px;
    border-style: groove;

    width: 400px;
}

input[type=submit] {
    font-family: 'Limelight', cursive;
    font-size: 200%;
    margin-top: 40px;
    padding: 20px;
    color:rgb(223, 164, 0);
    background-color: rgb(155, 0, 0);
    border-style:ridge;
}

input[type=submit]:hover {
    color: rgb(155, 0, 0);
    background-color: rgb(223, 164, 0);
}

/* ================================================= DRINKS & BEVERAGES SECTION ================================================= */

#drinks {
    height: 2200px;
    width: 100%;
    background-color: black;
    color: silver;
    text-align: center;
}

#drinks h2 {
    font-family: 'Limelight', cursive;
    letter-spacing: 4px;
    font-size: 250%;
    padding: 75px 0;
    background-color: rgb(60, 0, 0);
}

#drinks h3 {
    padding: 25px;
    color: rgba(223, 163, 0, 0.932);
    text-shadow: 1px 1px grey;
}

#drinks h4 {
    text-transform: uppercase;
    padding: 0 25px;
}

#drinks p {
    padding: 5px 25px;
    font-size: 75%;
    text-decoration: underline dotted rgba(109, 109, 109, 0.575);
}

#drinks li {
    list-style-type: none;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}

#first-drinks-section, #second-drinks-section {
    height: 800px;
    padding: 50px;
}

.drinks-div {
    width: 33%;
    font-size: 125%;
    border: 2px groove rgba(223, 163, 0, 0.932);
    padding: 25px 0 50px;
}

#cocktails, #wines {
    float: left;
}

#beers, #spirits-two {
    float: right;
}

#most-wanted, #spirits-one {
    margin: 0 auto;
}